.multilayer {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    align-items: center;
    gap: 0;
    color: $white;

    > a:hover {
        color: $white;
        text-decoration: underline;
    }

    > :not(:first-child),
    > a {
        color: $gray-500;
    }
}

a {
    text-decoration: none;
}

.loading-icon {
    height: 2rem;
    width: 2rem;

    background-color: currentColor;
    mask: url('/loading.svg') no-repeat center;
    mask-size: 75%;
}
